@model Ecommerce_WatchShop.Models.ViewModels.CartVM
<li>
    <a asp-controller="cart" asp-action="cart">
        <i class="icon-bag"></i>
        <span>@Model.Quantity</span>
    </a>
</li>
<li>
    <a asp-controller="cart" asp-action="cart">
        <i class="icon-wallet"></i>
        <strong><p class="d-inline p-3" style="letter-spacing: 0px">@Model.Total</p></strong>
    </a>
</li>
