@{
    ViewData["Title"] = "Trang chủ";
}
@model List<Slider>
<!-- Start Hero Slider Section-->
@* <div class="hero-slider-section"> *@
@*     <!-- Slider main container --> *@
@*     <div class="hero-slider-active swiper-container"> *@
@*         <!-- Additional required wrapper --> *@
@*         <div class="swiper-wrapper"> *@
@*             <!-- Start Hero Single Slider Item --> *@
@*             <div class="hero-single-slider-item swiper-slide"> *@
@*                 <!-- Hero Slider Image --> *@
@*                 <div class="hero-slider-bg"> *@
@*                     <img src="~/images/ricky-kharawala-Yka2yhGJwjc-unsplash 1.png" alt="" style="object-fit: cover"> *@
@*                 </div> *@
@*                 <!-- Hero Slider Content --> *@
@*                 <div class="hero-slider-wrapper"> *@
@*                     <div class="container"> *@
@*                         <div class="row"> *@
@*                             <div class="col-auto"> *@
@*                                 <div class="hero-slider-content"> *@
@*                                     <h4 class="subtitle text-white">Sản Phẩm Nổi Bật</h4> *@
@*                                     <h1 class="title text-white"> *@
@*                                         Đồng Hồ Hublot *@
@*                                         <br> *@
@*                                     </h1> *@
@*                                     <a asp-controller="Product" asp-action="ProductDetail" class="btn btn-lg btn-pink">Mua Ngay</a> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> <!-- End Hero Single Slider Item --> *@
@*             <!-- Start Hero Single Slider Item --> *@
@*             <div class="hero-single-slider-item swiper-slide"> *@
@*                 <!-- Hero Slider Image --> *@
@*                 <div class="hero-slider-bg"> *@
@*                     <img src="~/images/Artboard-1.jpg" alt=""> *@
@*                 </div> *@
@*                 <!-- Hero Slider Content --> *@
@*                 <div class="hero-slider-wrapper"> *@
@*                     <div class="container"> *@
@*                         <div class="row"> *@
@*                             <div class="col-auto"> *@
@*                                 <div class="hero-slider-content" style="margin-top: 9rem"> *@
@*                                     <h4 class="text-white">Giảm giá đến 15%</h4> *@
@*                                     <h1 class="title text-white">Curnon Alter</h1> *@
@*                                     <a asp-controller="Product" asp-action="ProductDetail" class="btn btn-lg btn-pink">Mua Ngay</a> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> <!-- End Hero Single Slider Item --> *@
@*             <div class="hero-single-slider-item swiper-slide"> *@
@*                 <!-- Hero Slider Image --> *@
@*                 <div class="hero-slider-bg"> *@
@*                     <img src="~/images/default-large.jpg" alt=""> *@
@*                 </div> *@
@*                 <!-- Hero Slider Content --> *@
@*                 <div class="hero-slider-wrapper"> *@
@*                     <div class="container"> *@
@*                         <div class="row"> *@
@*                             <div class="col-auto"> *@
@*                                 <div class="hero-slider-content"> *@
@*                                     <h4 class="text-white">Biểu tượng của đẳng cấp và phong cách</h4> *@
@*                                     <h1 class="title text-white">Rolex DateJust</h1> *@
@*                                     <a asp-controller="Product" asp-action="ProductDetail" class="btn btn-lg btn-pink">Mua Ngay</a> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> <!-- End Hero Single Slider Item --> *@
@*         </div> *@

@*         <!-- If we need pagination --> *@
@*         <div class="swiper-pagination active-color-pink"></div> *@

@*         <!-- If we need navigation buttons --> *@
@*         <div class="swiper-button-prev d-none d-lg-block"></div> *@
@*         <div class="swiper-button-next d-none d-lg-block"></div> *@
@*     </div> *@
@* </div> *@
@await Html.PartialAsync("_HeroSlider", Model)
<!-- End Hero Slider Section-->
<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Sản Phẩm Mới</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-2row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                            <img src="~/images/Hublot bigbang.png" alt="">
                                        </a>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#modalAddcart">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a asp-controller="Product" asp-action="ProductDetail">
                                                    Đồng hồ Hublot Bigbang
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="empty"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">1.381.180.182.71₫</span>
                                        </div>

                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                            <img src="~/images/Cartier Santos.png" alt="">
                                        </a>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#modalAddcart">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a asp-controller="Product" asp-action="ProductDetail">
                                                    Đồng hồ Cartier Santos
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="empty"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">198.000.000₫</span>
                                        </div>

                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                            <img src="~/images/Omega Constellation.png" alt="">
                                        </a>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#modalAddcart">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a asp-controller="Product" asp-action="ProductDetail">
                                                    Đồng hồ Omega Constellation
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="empty"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">
                                                242.000.000₫
                                            </span>
                                        </div>

                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                            <img src="~/images/Curnon Kashmir.png" alt="" style="width: 270px; height: 360px; object-fit: cover">
                                        </a>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#modalAddcart">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a asp-controller="Product" asp-action="ProductDetail">
                                                    Đồng hồ Curnon Kashmir
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="empty"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">2.159.000₫</span>
                                        </div>

                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Default Slider Section -->
    <!-- Start Banner Section -->
    <div class="banner-section section-top-gap-100">
        <div class="banner-wrapper">
            <div class="container-fluid">
                <div class="row mb-n6">
                    <div class="col-lg-6 col-12 mb-6">
                        <!-- Start Banner Single Item -->
                        <div class="banner-single-item banner-style-1 banner-animation img-responsive aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                            <div class="image">
                                <img src="~/images/Nam.jpg" alt="" style="width: 600px; height: 400px">
                            </div>
                            <div class="content">
                                <h4 class="title text-white">
                                    Đồng hồ nam
                                </h4>
                                <h5 class="sub-title text-white">Phái đàn ông</h5>
                                <a asp-controller="Product" asp-action="ProductDetail" class="btn btn-lg btn-light icon-space-left"><span class="d-flex align-items-center">Xem ngay <i class="ion-ios-arrow-thin-right"></i></span></a>
                            </div>
                        </div>
                        <!-- End Banner Single Item -->
                    </div>
                    <div class="col-lg-6 col-12 mb-6">
                        <!-- Start Banner Single Item -->
                        <div class="banner-single-item banner-style-1 banner-animation img-responsive aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                            <div class="image">
                                <img src="~/images/Nu.jpg" alt="" style="width: 600px; height: 400px">
                            </div>
                            <div class="content">
                                <h4 class="title text-white">
                                    Đông hồ nữ
                                </h4>
                                <h5 class="sub-title text-white">Phái nữ</h5>
                                <a asp-controller="Product" asp-action="ProductDetail" class="btn btn-lg btn-light icon-space-left"><span class="d-flex align-items-center">Xem ngay <i class="ion-ios-arrow-thin-right"></i></span></a>
                            </div>
                        </div>
                        <!-- End Banner Single Item -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Banner Section -->
    <!-- Start Product Default Slider Section -->
    <div class="product-default-slider-section section-fluid section-inner-bg">
        <!-- Start Section Content Text Area -->
        <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">SẢN PHẨM BÁN CHẠY</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Section Content Text Area -->
        <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-default-1row default-slider-nav-arrow">
                            <!-- Slider main container -->
                            <div class="swiper-container product-default-slider-4grid-1row">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- End Product Default Single Item -->
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                                <img src="~/images/Curnon_Kashmir_Silver___Abyss-removebg-preview.jpg" alt="" style="width: 261px; height: 349px; object-fit: cover">
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="#" data-bs-toggle="modal"
                                                       data-bs-target="#modalAddcart">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a asp-controller="Product" asp-action="ProductDetail">
                                                        Đồng hồ Curnon Kashmir Silver – Abyss
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">2.190.000₫</span>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Product Default Single Item -->
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                                <img src="~/images/Omega_Seamaster_Aqua_Terra_Green-removebg-preview.png" alt="">
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="#" data-bs-toggle="modal"
                                                       data-bs-target="#modalAddcart">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a asp-controller="Product" asp-action="ProductDetail">
                                                        Đồng hồ Omega Seamaster Aqua Terra Green
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">
                                                    242.000.000₫
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Product Default Single Item -->
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                                <img src="~/images/Hublot_Classic_Fusion_Essential_Grey-removebg-preview.png" alt="">
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="#" data-bs-toggle="modal"
                                                       data-bs-target="#modalAddcart">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a asp-controller="Product" asp-action="ProductDetail">
                                                        Đồng hồ Hublot Classic Fusion Essential Grey
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">216,826,000₫</span>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Product Default Single Item -->
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                                <img src="~/images/Cartier Ballon Bleu De Cartier.png" alt="">
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="#" data-bs-toggle="modal"
                                                       data-bs-target="#modalAddcart">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a asp-controller="Product" asp-action="ProductDetail">
                                                        Đồng Hồ Cartier Ballon Bleu De Cartier
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">145.000.000₫</span>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- End Product Default Single Item -->
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a asp-controller="Product" asp-action="ProductDetail" class="image-link">
                                                <img src="~/assets/images/product/default/home-3/default-7.jpg" alt="">
                                                <img src="~/assets/images/product/default/home-3/default-8.jpg" alt="">
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="#" data-bs-toggle="modal"
                                                       data-bs-target="#modalAddcart">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a asp-controller="Product" asp-action="ProductDetail">
                                                        Donec eu libero
                                                        ac
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">$74</span>
                                            </div>

                                        </div>
                                    </div> <!-- End Product Default Single Item -->
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Product Default Slider Section -->
    <!-- Start Service Section -->
    <div class="service-promo-section section-top-gap-100">
        <div class="service-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                            <div class="image">
                                <img src="~/assets/images/icons/service-promo-5.png" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">MIỄN PHÍ SHIP</h6>
                                <p>Miễn ship toàn quốc</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="200">
                            <div class="image">
                                <img src="~/assets/images/icons/service-promo-6.png" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">30 NGÀY HOÀN TIỀN</h6>
                                <p>Đảm bảo hài lòng 100% hoặc được hoàn lại tiền trong vòng 30 ngày!</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="400">
                            <div class="image">
                                <img src="~/images/support.png" alt="" style="width: 77px; height: 71px">
                            </div>
                            <div class="content">
                                <h6 class="title">HỖ TRỢ 24/7</h6>
                                <p>Nhóm hỗ trợ khách hàng của chúng tôi có sẵn 24/7 để giúp bạn với bất kỳ khuất mắc nào</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End Service Section -->