@{
    ViewData["Title"] = "Giới thiệu";
}
    <!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">GIỚI THIỆU</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Trang Chủ</a></li>
                                <li class="active" aria-current="page">Giới Thiệu</li>
                            </ul>   
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...::::Start About Us Center Section:::... -->
<div class="faq-section">
    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <div class="faq-content" data-aos="fade-up" data-aos-delay="0">
                    <h5 class="title">
                        1. Về chúng tôi
                    </h5>
                    <p>
                        ZZZ WATCH không chỉ là nơi để mua sắm, mà còn là một nơi để khám phá, tìm hiểu và đắm mình trong thế giới đồng hồ.
                        <br />
                        ZZZ WATCH được xây dựng nhằm cung cấp cho khách hàng những sản phẩm đồng hồ đeo tay cao cấp, chất lượng, 
                        chính hãng cam kết mang đến cho khách hàng những mẫu đồng hồ hoàn hảo về cả thiết kế lẫn tính năng 
                        và hoàn thành sứ mệnh “Nơi An Tâm Mua Đồng Hồ Chính Hãng”. Đồng thời chúng tôi cũng hướng đến  những trải nghiệm dễ dàng, 
                        an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="faq-content" data-aos="fade-up" data-aos-delay="0">
                    <h5 class="title">
                        2. Cửa hàng của chúng tôi
                    </h5>
                    <p>
                        65 Đ. Huỳnh Thúc Kháng, Bến Nghé, Quận 1, Hồ Chí Minh
                        <br />
                        Điện thoại: 0306221377
                        <br />
                        Email: 0306221377@caothang.edu.vn
                    </p>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-content" data-aos="fade-up" data-aos-delay="0">
                        <h5 class="title">
                            3. Chính sách của chúng tôi
                        </h5>
                    </div>
                    <div class="faq-accordian">
                        <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="0">
                            <input id="item-1" name="accordian-item" type="radio" checked="">
                            <label for="item-1">Điều kiện bảo hành</label>
                            <div class="item-content">
                                <p>
                                    Bảo hành chỉ có giá trị khi đồng hồ có Phiếu bảo hành của hãng & Phiếu bảo hành của ZZZ đi kèm, điền chính xác, đầy đủ các thông tin.
                                    Phiếu bảo hành phải còn nguyên vẹn, không rách, chấp vá, hoen ố, mờ nhạt.
                                    Còn trong thời gian bảo hành. Thời gian bảo hành được tính từ ngày mua có ghi trên Phiếu Bảo Hành.
                                    Chỉ bảo hành thay thế mới cho những linh kiện, phụ tùng bị hỏng – không thay thế bằng một chiếc đồng hồ khác.
                                </p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="200">
                            <input id="item-2" name="accordian-item" type="radio">
                            <label for="item-2">Miễn phí giao hàng</label>
                            <div class="item-content">
                                <p>
                                    Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                                    eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                    viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem
                                    eleifend lorem
                                </p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="400">
                            <input id="item-3" name="accordian-item" type="radio">
                            <label for="item-3">30 ngày trả hàng</label>
                            <div class="item-content">
                                <p>
                                    Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                                    eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                    viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem
                                    eleifend lorem
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...::::End  About Us Center Section:::... -->
<div class="blog-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title text-center">BÀI VIẾT CỦA CHÚNG TÔI</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="blog-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-default-slider default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container blog-slider swiper-container-initialized swiper-container-horizontal">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);" id="swiper-wrapper-1263f60a41b2c936" aria-live="polite">
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide swiper-slide-active" style="width: 370px; margin-right: 30px;" role="group" aria-label="1 / 6">
                                    <div class="image-box">
                                        <a href="blog-single-sidebar-left.html" class="image-link">
                                            <img class="img-fluid" src="~/images/Blog1-removebg-preview.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-single-sidebar-left.html">Hiểu Về Chuyển Động Của Đồng Hồ Cơ</a>
                                        </h6>
                                        <p>
                                            Khám phá thế giới phức tạp của chuyển động cơ học và tìm hiểu điều gì làm nên sự khác biệt của chiếc đồng hồ của bạn.
                                        </p>
                                        <div class="inner">
                                            <a href="blog-single-sidebar-left.html" class="read-more-btn icon-space-left">XEM THÊM <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            <div class="post-meta">
                                                <a href="#" class="date">31/01/2024</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide swiper-slide-next" style="width: 370px; margin-right: 30px;" role="group" aria-label="2 / 6">
                                    <div class="image-box">
                                        <a href="blog-single-sidebar-left.html" class="image-link">
                                            <img class="img-fluid" src="~/images/Blog2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-single-sidebar-left.html">Mẹo chăm sóc đồng hồ</a>
                                        </h6>
                                        <p>
                                            Tìm hiểu cách bảo quản đồng hồ xa xỉ của bạn để đảm bảo nó bền qua nhiều thế hệ.
                                        </p>
                                        <div class="inner">
                                            <a href="#" class="read-more-btn icon-space-left">XEM THÊM <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            <div class="post-meta">
                                                <a href="blog-single-sidebar-left.html" class="date">31/01/2024</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide" style="width: 370px; margin-right: 30px;" role="group" aria-label="3 / 6">
                                    <div class="image-box">
                                        <a href="blog-single-sidebar-left.html" class="image-link">
                                            <img class="img-fluid" src="~/images/Blog3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-single-sidebar-left.html">
                                                Ý nghĩa của những chiếc đồng hồ đeo tay
                                            </a>
                                        </h6>
                                        <p>
                                            Đồng hồ đeo tay là một vật dụng vô cùng quen thuộc với cả phái nam lẫn nữ, dù ở bất kì độ tuổi nào.
                                        </p>
                                        <div class="inner">
                                            <a href="blog-single-sidebar-left.html" class="read-more-btn icon-space-left">XEM THÊM <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            <div class="post-meta">
                                                <a href="#" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide" style="width: 370px; margin-right: 30px;" role="group" aria-label="4 / 6">
                                    <div class="image-box">
                                        <a href="blog-single-sidebar-left.html" class="image-link">
                                            <img class="img-fluid" src="assets/images/blog/blog-grid-home-1-img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-single-sidebar-left.html">Blog Post Four</a>
                                        </h6>
                                        <p>
                                            Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex.
                                            Aenean posuere libero eu augue condimentum rhoncus. Praesent
                                        </p>
                                        <div class="inner">
                                            <a href="blog-single-sidebar-left.html" class="read-more-btn icon-space-left">Read More <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            <div class="post-meta">
                                                <a href="#" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide" style="width: 370px; margin-right: 30px;" role="group" aria-label="5 / 6">
                                    <div class="image-box">
                                        <a href="blog-single-sidebar-left.html" class="image-link">
                                            <img class="img-fluid" src="assets/images/blog/blog-grid-home-1-img-5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-single-sidebar-left.html">Blog Post Five</a>
                                        </h6>
                                        <p>
                                            Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex.
                                            Aenean posuere libero eu augue condimentum rhoncus. Praesent
                                        </p>
                                        <div class="inner">
                                            <a href="blog-single-sidebar-left.html" class="read-more-btn icon-space-left">Read More <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            <div class="post-meta">
                                                <a href="#" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide" style="width: 370px; margin-right: 30px;" role="group" aria-label="6 / 6">
                                    <div class="image-box">
                                        <a href="blog-single-sidebar-left.html" class="image-link">
                                            <img class="img-fluid" src="assets/images/blog/blog-grid-home-1-img-6.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-single-sidebar-left.html">Blog Post Six</a>
                                        </h6>
                                        <p>
                                            Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex.
                                            Aenean posuere libero eu augue condimentum rhoncus. Praesent
                                        </p>
                                        <div class="inner">
                                            <a href="blog-single-sidebar-left.html" class="read-more-btn icon-space-left">Read More <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            <div class="post-meta">
                                                <a href="#" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-1263f60a41b2c936" aria-disabled="true"></div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-1263f60a41b2c936" aria-disabled="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>