@{
    ViewData["Title"] = "Giới thiệu";
}
    <!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">GIỚI THIỆU</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Trang Chủ</a></li>
                                <li class="active" aria-current="page">Giới Thiệu</li>
                            </ul>   
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...::::Start About Us Center Section:::... -->
<div class="faq-section">
    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <div class="faq-content" data-aos="fade-up" data-aos-delay="0">
                    <h5 class="title">
                        1. Về chúng tôi
                    </h5>
                    <p>
                        ZZZ WATCH không chỉ là nơi để mua sắm, mà còn là một nơi để khám phá, tìm hiểu và đắm mình trong thế giới đồng hồ.
                        <br />
                        ZZZ WATCH được xây dựng nhằm cung cấp cho khách hàng những sản phẩm đồng hồ đeo tay cao cấp, chất lượng, 
                        chính hãng cam kết mang đến cho khách hàng những mẫu đồng hồ hoàn hảo về cả thiết kế lẫn tính năng 
                        và hoàn thành sứ mệnh “Nơi An Tâm Mua Đồng Hồ Chính Hãng”. Đồng thời chúng tôi cũng hướng đến  những trải nghiệm dễ dàng, 
                        an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="faq-content" data-aos="fade-up" data-aos-delay="0">
                    <h5 class="title">
                        2. Cửa hàng của chúng tôi
                    </h5>
                    <p>
                        65 Đ. Huỳnh Thúc Kháng, Bến Nghé, Quận 1, Hồ Chí Minh
                        <br />
                        Điện thoại: 0306221377
                        <br />
                        Email: 0306221377@caothang.edu.vn
                    </p>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-content" data-aos="fade-up" data-aos-delay="0">
                        <h5 class="title">
                            3. Chính sách của chúng tôi
                        </h5>
                    </div>
                    <div class="faq-accordian">
                        <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="0">
                            <input id="item-1" name="accordian-item" type="radio" checked="">
                            <label for="item-1">Giao hàng nhanh</label>
                            <div class="item-content">
                                <p>
                                    Chúng tôi cam kết cung cấp dịch vụ giao hàng nhanh chóng và đáng tin cậy. 
                                    Đơn hàng của bạn sẽ được xử lý và giao trong vòng 1-2 ngày làm việc, tùy thuộc vào địa chỉ giao hàng. 
                                    Đặc biệt, đối với các đơn hàng trong khu vực nội thành, chúng tôi sẽ giao trong ngày nếu đơn hàng được đặt trước 12h00. 
                                    Mọi chi phí giao hàng sẽ được hiển thị rõ ràng khi bạn thanh toán, và miễn phí vận chuyển cho đơn hàng có giá trị từ [số tiền cụ thể] trở lên. 
                                    Chúng tôi luôn nỗ lực mang đến trải nghiệm giao hàng nhanh chóng, tiện lợi và không gây phiền phức cho khách hàng.
                                </p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="200">
                            <input id="item-2" name="accordian-item" type="radio">
                            <label for="item-2">Miễn phí giao hàng</label>
                            <div class="item-content">
                                <p>
                                    Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                                    eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                    viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem
                                    eleifend lorem
                                </p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="400">
                            <input id="item-3" name="accordian-item" type="radio">
                            <label for="item-3">30 ngày trả hàng</label>
                            <div class="item-content">
                                <p>
                                    Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                                    eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                    viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem
                                    eleifend lorem
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...::::End  About Us Center Section:::... -->
