@{
    ViewData["Title"] = "Giỏ hàng";
} 
<div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Giỏ hàng</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                                    <li class="active" aria-current="page">Giỏ hàng</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->
    <!-- ...::::Start About Us Center Section:::... -->
    <div class="empty-cart-section section-fluid">
        <div class="emptycart-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <div class="emptycart-content text-center">
                            <div class="image">
                                <img class="img-fluid" src="~/assets/images/emprt-cart/empty-cart.png" alt="">
                            </div>
                            <h4 class="title">Bạn không có sản phẩm trong giỏ hàng</h4>
                            <h6 class="sub-title">Xin lỗi bạn ... Không có sản phẩm trong giỏ hàng!</h6>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-lg btn-golden">Tiếp tục mua </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...::::End  About Us Center Section:::... -->