@model IEnumerable<Ecommerce_WatchShop.Models.ViewModels.MenuBrandVM>
<!-- Start Single Sidebar Widget -->
<div class="sidebar-single-widget">
    <h6 class="sidebar-title">THƯƠNG HIỆU</h6>
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Product" asp-action="ProductList" asp-route-brandSlug="@item.Slug">
                        @item.Name
                    </a>
                </li>

            }
        </ul>
    </div>
</div> <!-- End Single Sidebar Widget -->
@* <div class="sidebar-single-widget">
    <h6 class="sidebar-title">Thương hiệu</h6>
    <div class="nice-select country_option wide" tabindex="0">
        <span class="current">Tất cả thương hiệu</span>
        <ul class="list">
            <!-- Thêm lựa chọn "Tất cả thương hiệu" -->
            <li data-value="" class="option">Tất cả thương hiệu</li>

            @foreach (var item in Model)
            {
                <li data-value="@item.Slug" class="option">
                    @item.Name
                </li>
            }
        </ul>
    </div>
    <input type="hidden" name="brands" id="selectedBrand" value="">
</div>
<script>
    document.querySelectorAll('.country_option .option').forEach(option => {
        option.addEventListener('click', function() {
            document.getElementById('selectedBrand').value = this.getAttribute('data-value');
            document.querySelector('.current').textContent = this.textContent; // Cập nhật tiêu đề
        });
    });
</script> *@