@model Ecommerce_WatchShop.Models.ViewModels.LoginVM

<div>
    <div class="default-form-box">
        <label asp-for="Username">Tên đăng nhập <span>*</span></label>
        <input asp-for="Username" class="form-control" required>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="default-form-box">
        <label asp-for="Password">Mật khẩu <span>*</span></label>
        <input asp-for="Password" type="password" class="form-control" required>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="login_submit d-flex justify-content-between align-items-center">
        <div>
            <label class="checkbox-default mb-4" asp-for="RememberMe">
                <input type="checkbox" asp-for="RememberMe">
                <span>Ghi nhớ tài khoản</span>
            </label>
        </div>
        <a href="#" class="lost-password">Quên mật khẩu?</a>
    </div>
</div>
