<div class="account_form modal fade" tabindex="-1" role="dialog" id="registerModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title text-center w-100">Đăng ký</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST">
                    <div class="default-form-box">
                        <label>Tên đăng nhập <span>*</span></label>
                        <input type="text" required>
                    </div>
                    <div class="default-form-box">
                        <label>Mật khẩu <span>*</span></label>
                        <input type="password" required>
                    </div>
                    <div class="default-form-box">
                        <label>Xác nhận mật khẩu <span>*</span></label>
                        <input type="password" required>
                    </div>
               
                    <button class="btn btn-block btn-black-default-hover mb-4" type="submit">Đăng ký</button>
                    <div class="d-flex justify-content-center">
                        <a href="#" class=""><strong> Có tài khoản? Đăng Nhập</strong></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

